<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encrypt/Decrypt</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .card {
            margin-bottom: 20px;
        }
        .result-box {
            white-space: pre-wrap;
            overflow: auto;
        }
        .title {
            text-align: center;
            margin-bottom: 30px;
        }
        .header-img {
            width: 150px;
            display: block;
            margin: 0 auto 20px;
        }
        .form-group {
            display: flex;
            align-items: center;
        }
        .form-group label {
            width: 80px;
            margin-right: 10px;
        }
        .form-group input {
            flex: 1;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateWordInputs(count) {
                let wordInputsHtml = '';
                for (let i = 1; i <= count; i++) {
                    wordInputsHtml += `<div class="form-group">
                        <label for="word${i}">Word ${i}:</label>
                        <input type="text" id="word${i}" name="word${i}" class="form-control word-input" pattern="[A-Za-z]+" required>
                    </div>`;
                }
                $('#word-inputs').html(wordInputsHtml);
            }

            $('#word-count').change(function() {
                const count = parseInt($(this).val(), 10);
                updateWordInputs(count);
            });

            // Initialize with 12 words input fields
            updateWordInputs(12);

            $('#encrypt-form').submit(function(event) {
                event.preventDefault();
                const words = [];
                $('#encrypt-form input[type="text"]').each(function() {
                    words.push($(this).val());
                });
                const data = {
                    words: words.join(' '),
                    passphrase: $('#encrypt-passphrase').val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/encrypt',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(response) {
                        $('#encrypt-result').val(response.result);
                        $('#copy-encrypt-btn').show();
                    },
                    error: function() {
                        $('#encrypt-result').val('An error occurred.');
                    }
                });
            });

            $('#decrypt-form').submit(function(event) {
                event.preventDefault();
                const data = {
                    encrypted_value: $('#encrypted_value').val(),
                    passphrase: $('#decrypt-passphrase').val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/decrypt',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    success: function(response) {
                        $('#decrypt-result').val(response.result);
                        autoResizeTextarea($('#decrypt-result'));
                    },
                    error: function() {
                        $('#decrypt-result').val('An error occurred.');
                    }
                });
            });

            $('#copy-encrypt-btn').click(function() {
                var copyText = document.getElementById("encrypt-result");
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                document.execCommand("copy");
                
                var button = $('#copy-encrypt-btn');
                button.text('Copied!');
                setTimeout(function() {
                    button.text('Copy');
                }, 2000); // Revert back to 'Copy' after 2 seconds
            });

            function autoResizeTextarea(textarea) {
                textarea.css('height', 'auto');
                textarea.css('height', textarea.prop('scrollHeight') + 'px');
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="{{ url_for('static', filename='lock.jpg') }}" alt="Logo" class="header-img">
            <h1>Encrypt/Decrypt</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>Encrypt</h2>
                    </div>
                    <div class="card-body">
                        <form id="encrypt-form">
                            <div class="form-group">
                                <label for="word-count">Number of Words:</label>
                                <select id="word-count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                </select>
                            </div>
                            <div id="word-inputs"></div>
                            <div class="form-group">
                                <label for="encrypt-passphrase">Passphrase:</label>
                                <input type="text" id="encrypt-passphrase" name="passphrase" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Encrypt</button>
                        </form>
                        <div class="form-group mt-3">
                            <label for="encrypt-result">Encrypted Result:</label>
                            <textarea id="encrypt-result" class="form-control result-box" rows="4" readonly></textarea>
                            <button id="copy-encrypt-btn" class="btn btn-secondary mt-2" style="display:none;">Copy</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h2>Decrypt</h2>
                    </div>
                    <div class="card-body">
                        <form id="decrypt-form">
                            <div class="form-group">
                                <label for="encrypted_value">Encrypted Text:</label>
                                <input type="text" id="encrypted_value" name="encrypted_value" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="decrypt-passphrase">Passphrase:</label>
                                <input type="text" id="decrypt-passphrase" name="passphrase" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-success">Decrypt</button>
                        </form>
                        <div class="form-group mt-3">
                            <label for="decrypt-result">Decrypted Result:</label>
                            <textarea id="decrypt-result" class="form-control result-box" rows="4" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>